@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  color: #000000;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 72px;
  padding-right: 80px;
}

.quotes-header {
  color: #dbdbdb;
  padding-top: 32px;
  font-weight: 400;
}

.quotes-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 70vh;
  gap: 20px;
  overflow: hidden;
}

.quote-text {
  font-weight: 700;
  font-size: clamp(1.5rem, 5vw, 3rem);
  letter-spacing: -0.02em;
  line-height: 130%;
}

.quote-author {
  font-weight: 400;
  font-size: 18px;
}

.quote-text,
.quote-author {
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.hide {
  opacity: 0;
  transform: translateY(-10px);
}

.btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #333333;
  transform: translateY(-1px);
}

.btn:active {
  background-color: #000000;
  transform: scale(0.97);
  box-shadow: none;
}
